{% extends 'hotel/base.html' %}
{% load staticfiles %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'rooms' %}">Rooms</a></li>
      <li><a href="{% url 'service' %}">Service</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li class="active"><a href="{% url 'about' %}">About</a></li>
    </ul>
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'room_overview' year='2016' month='11' %}">Room Overview</a></li>
          <li><a href="{% url 'guests' %}">Guests</a></li>
          <li><a href="{% url 'open_orders' %}">Orders</a></li>
          <li><a href="{% url 'inventory' %}">Inventory</a></li>
          <li><a href="{% url 'complaints' %}">Complaints</a></li>
        </ul>
      </li>
    </ul>
    {% endif %}


    </ul>
  </div>
</nav>
<div class="page_content">
<div class="col-md-8 col-xs-12">
    <div class="homescreen">
      <h2> Über uns </h2>
      <h3> In Erinnerung an Andy </h3>
      <p> Das Calypso Resort wurde 1990 von Andy eröffnet. Er war ursprünglich aus der Schweiz und hat seit dem Aufbau des Calypso in Panglao gelebt. In dieser langen Zeit hat er Panglao und Bohol sowie auch die Umgebung sehr gut kennen gelernt und den Gästen sein Wissen gerne weitergegeben. Er hat zusätzlich für die Gäste des Resorts als Tauchlehrer gearbeitet und ihnen die schöne Unterwasserwelt näher gebracht. </p>
      <p> Leider ist Andy im Februar 2016 nach einem Unfall verstorben. Das Calypso Resort wird von seiner Frau Mary Jane weitergeführt, mit der er seit 2008 zusammen war und eine gemeinsame Tochter hat. Durch die Unterstützung von Freunden aus der Schweiz wird der europäische Einfluss aufrechterhalten und wir beraten die Gäste weiterhin in Deutsch und Englisch. Andy kann als Mensch nicht ersetzt werden, aber wir setzen alles daran das Calypso in seinem Sinne weiter zu führen und den gleichen Service wie bis anhin zu bieten. In unseren Herzen und im Calypso Resort lebt er weiter. </p>
      <p> Wir freuen uns, euch als unsere Gäste begrüssen zu dürfen. </p>    </div>
</div>
</div>

{% endblock %}
