{% load staticfiles %}

<html>

<head>
    <title>Calypso Resort Panglao</title>
    <meta name="viewport" content="width=device-width, intitial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/calypso.css' %}">
</head>

<body>
    <div class="page-header">
        {% if user.is_authenticated %}
        <p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'logout' %}"> Log out </a>)</small></p>
        {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1><a href="/">Calypso</a></h1>
    </div>

    <div class="content container-fluid">
        <div class="row">
                {% block content %} {% endblock %}
        </div>
    </div>
    <div class="hidden-xs">
    <footer class="footer">
      <div class="container">
        <p>Calypso Resort</p>
        <p>Danao Beach, Panglao, 6340 Bohol</p>
        <p>Tel: 09093934393403 Mail:sfasdf</p>
      </div>
    </footer>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>

</html>
