{% extends 'hotel/base.html' %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'rooms' %}">Rooms</a></li>
      <li><a href="{% url 'service' %}">Service</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    </ul>
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'room_overview' year='2016' month='11' %}">Room Overview</a></li>
          <li><a href="{% url 'guests' %}">Guests</a></li>
          <li><a href="{% url 'open_orders' %}">Orders</a></li>
          <li><a href="{% url 'inventory' %}">Inventory</a></li>
          <li><a href="{% url 'complaints' %}">Complaints</a></li>
        </ul>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>
<div class="page_content">
<div class="col-md-8 col-xs-12">

<h3>Complaints(<a href="{% url 'register_complaint' %}">New</a>):</h3>
<div class="complaints">
<table class="table table-condensed">
    <tr>
        <th>Room</th>
        <th>Date</th>
        <th>Severity</th>
        <th>Category</th>
        <th>Responsible</th>
        <th>Comments</th>
    </tr>

{% for complaint in object_list %}
<tr>
    <td>{{ complaint.room }}</td>
    <td>{{ complaint.date_reported }}</td>
    <td>{{ complaint.get_severity_display }}</td>
    <td>{{ complaint.get_category_display }}</td>
    <td>{{ complaint.responsible }}</td>
    <td>{{ complaint.comments}}</td>
</tr>
{% endfor %}
</table>
</div>
</div>
</div>

{% endblock %}
