{% extends 'hotel/base.html' %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'rooms' %}">Rooms</a></li>
      <li><a href="{% url 'service' %}">Service</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    </ul>
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'room_overview' year='2016' month='11' %}">Room Overview</a></li>
          <li><a href="{% url 'guests' %}">Guests</a></li>
          <li><a href="{% url 'open_orders' %}">Orders</a></li>
          <li><a href="{% url 'inventory' %}">Inventory</a></li>
          <li><a href="{% url 'complaints' %}">Complaints</a></li>
        </ul>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>
<div class="page_content">
<div class="col-md-8 col-xs-12">

<h3>Inventory:</h3>
<table class="table table-condensed table_stock">
    <tr>
        <th>Item</th>
        <th>in Stock</th>
        <th>Avg. daily</th>
        <th>Last Buy</th>
        <th></th>
    </tr>

{% for item in stock %}
<tr>
    <td>{{ item.item }}</td>
    <td>{{ item.in_stock }}</td>
    <td>{{ item.daily_use_avg }}</td>
    <td>{{ item.last_buy }}</td>
    <td>
      {% if item.warning == 2 %}
      <span class="glyphicon glyphicon-flash" id="redflash"></span>
      {% elif item.warning == 1 %}
      <span class="glyphicon glyphicon-flash"></span>
      {% endif %}
    </td>
</tr>

{% endfor %}
</table>
<h3>Orders Out summarzied:</h3>
<table class="table table-condensed table_orders">
    <tr>
        <th>Date</th>
        <th>Item</th>
        <th>Amount</th>
    </tr>

{% for Order in inventory %}
<tr>
    <td>{{ Order.date }}</td>
    <td>{{ Order.item }}</td>
    <td>{{ Order.amount }}</td>
</tr>

{% endfor %}
</table>
</div>

</div>


{% endblock %}
