{% extends "hotel/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'rooms' %}">Rooms</a></li>
      <li><a href="{% url 'service' %}">Service</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
    </ul>
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'room_overview' year='2016' month='11' %}">Room Overview</a></li>
          <li><a href="{% url 'guests' %}">Guests</a></li>
          <li><a href="{% url 'open_orders' %}">Orders</a></li>
          <li><a href="{% url 'inventory' %}">Inventory</a></li>
        </ul>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>
<div class="col-md-8 col-xs-12">
    <h3>Order Information:</h3>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>

<h3><a href="{% url 'open_orders' %}">Order List</a></h3>
{% endblock %}
