{% load staticfiles %}

<html>

<head>
    <title>404 Error: Calypso Resort Panglao</title>
    <meta name="viewport" content="width=device-width, intitial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/calypso.css' %}">
</head>

<body>
    <div class="page-header">
        <h1><a href="/">Calypso</a></h1>
    </div>

    <div class="content container-fluid">
        <div class="row">
          <h2>Fuck you very much!</h2>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer">
    <footer class="footer">
      <div class="container">
        <p>Calypso Resort</p>
        <p>Danao Beach, Panglao, 6340 Bohol</p>
        <p>Tel: 09093934393403 Mail:sfasdf</p>
      </div>
    </footer>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>

</html>
