.page-header {
    margin: 0; padding: 20px 20px 20px 40px; border: 0;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.container-fluid{
  margin-bottom:60px;
}
.navbar {
  border: 0;
  background: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
 .page-header, .footer, .navbar {
   background-color: rgba(62, 20, 20, 0.88);
 }

.background_home {
 margin-left: 0px;

}


.thehoff {
  float: right;

}
.content {

    margin-left: 0px;
}
.content h1{

  color: rgba(62, 20, 20, 1);
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 13pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.room_name {
  background-color: rgba(62, 20, 20, 0.88);
  color: #fff

}

.footer {
    margin: 0; padding: 5px 20px 5px 20px; border: 0;
    position: fixed;
    clear: both;
    bottom: 0;
    width: 100%;
}

.footer p {
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-size: 10pt;
    font-family: 'Old Standard TT', serif;
    text-decoration: none;
}
